<div class="bg-main">
    <div class="container">
        <!-- Nav Lateral -->
        <div class="container-nav">
            <div class="nav-projects">
                s
            </div>
        </div>
        <!-- Container -->
        <div class="container-master">
            <div class="container-projects">
                <!-- Project List -->
                <div class="project-list">
                    <h1>Projects</h1>
                    <!-- !!! Centrar el contenido de project-card -->
                    <div class="project-card">
                        <div>1</div>
                        <div>2</div>
                    </div>
                </div>
                <!-- Project Description -->
                <div class="project-description">
                    s
                </div>
            </div>
        </div>
    </div>
</div>