<!-- Project Card -->
<div class="h-32 overflow-hidden bg-gray-200 text-gray-700 font-bold my-4 p-5 rounded-lg">
    <!-- Project title y fecha de creacion -->
    <div class="flex justify-between mb-3">
        <h2>{{project.title}}</h2>
        <h2 class="font-normal text-gray-600"> {{project.created_At}} </h2>
    </div>
    <!-- Contador -->
    <div class="flex justify-between">
        <!-- Task y SubTask-->
        <div class="flex">
            <!-- Cantidad de Task -->
            <div class="mr-2 text-center justify-center">
                <p>{{project.numeroTask}} </p>
                <i class="fas fa-folder"></i>
            </div>
            <!-- Cantidad de SubTask -->
            <div class="mx-2 text-center justify-center">
                <p>{{project.numeroSubTask}} </p>
                <i class="fas fa-folder"></i>
            </div>
        </div>
        <!-- Estado de las tasks -->
        <div class="flex">
            <!-- Generar component? -->
            <!-- Complete -->
            <div class="mx-2 text-center justify-center">
                <p>1 </p>
                <div class="box-color color-primary"></div>
            </div>
            <!-- Incomplete -->
            <div class="mx-2 text-center justify-center">
                <p>0</p>
                <div class="box-color color-secondary"></div>
            </div>
            <!-- None -->
            <div class="mx-2 text-center justify-center">
                <p>2</p>
                <div class="box-color color-none"></div>
            </div>
        </div>
    </div>
    <!-- Edit Button -->
</div>